*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black; /* dark blue */
  color: white;
  padding: 15px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Flexbox container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 0px;
  padding-left: 100px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  margin-left: 40px;
  gap: 10px;
}

.nav-links li a:hover {
  color: yellow;
}
